.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    text-decoration: none;
    color: black;
}

.dialog .active {
    color:gold;
}

.message {
    color: saddlebrown;
}
